.Button {
    padding: 10px 16px;
    border-radius: var(--border-radius-m);
    border: 1px solid transparent;
    line-height: 1;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-s);
}

/* Colors */
.Button_color_main {
    background-color: var(--main-text-color);
    border-color: var(--main-text-color);
    color: var(--main-text-color);
}

.Button_color_primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.Button_color_secondary {
    background-color: var(--active-color);
    border-color: var(--active-color);
    color: var(--active-color);
}

/* Variant */
.Button_variant_solid {
    color: #fff;
}

.Button_variant_solid:hover,
.Button_variant_bordered:hover {
    opacity: 0.9;
}

.Button_variant_solid:active,
.Button_variant_solid:focus,
.Button_variant_bordered:active,
.Button_variant_bordered:focus {
    opacity: 0.8;
}

.Button_variant_bordered {
    color: var(--main-text-color);
}

.Button_variant_bordered:not(:focus):not(:hover):not(:active) {
    background-color: transparent;
}

.Button_variant_text {
    padding: 4px 8px;
    color: var(--main-text-color);
    background-color: transparent;
    border-color: transparent;
}

.Button_variant_text:hover {
    background-color: var(--secondary-active-color);
}

.Button_variant_text:active,
.Button_variant_text:focus {
    background-color: var(--active-color);
}
