:root {
    /* Colors */
    --main-text-color: #050505;
    --active-text-color: #676767;
    --secondary-text-color: #989897;
    --active-color: #DFDFDE;
    --secondary-active-color: #F5F5F4;
    --primary-color: #2383E2;
    --active-primary-color: #0e6dc4;
    --danger-color: #EA4335;
    --accent-color: #FBBC04;

    --border-radius-m: 4px;

    /* Fonts */
    --line-height: 1.3;

    --font-size-xl: 30px;
    --font-xl: var(--font-size-xl)/var(--line-height) Inter, sans-serif;

    --font-size-l: 18px;

    --font-size-m: 14px;
    --font-m: var(--font-size-m)/var(--line-height) Inter, sans-serif;

    --font-size-s: 12px;
    --font-s: var(--font-size-s)/var(--line-height) Inter, sans-serif;

    --font-size-xs: 10px;
    --line-height-xs: 15px;
    --font-xs: var(--font-size-xs)/var(--line-height-xs) Inter, sans-serif;

    --space-xs: calc(var(--space-s) / 2);
    --space-s: calc(var(--space-m) / 2);
    --space-m: 16px;
    --space-l: 24px;
    --space-xl: calc(var(--space-m) * 2);
    --space-xxl: calc(var(--space-xl) * 2);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --disabled-opacity: 0.6;
    --icon-size: 14px;

    --box-shadow-modal: 0 0 1px 1px rgba(0,0,0,0.05),
    0 3px 6px 0 rgba(0,0,0,0.1),
    0 9px 25px 0 rgba(0,0,0,0.05);

    --z-index-dropdown: 10;
    --z-index-modal: calc(var(--z-index-dropdown) + 1);
}
