.SignUpPage {
min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.SignUpPage__header {
    padding: var(--space-l)
}

.SignUpPage__logo {
    width: 40px;
    height: 40px;
}

.SignUpPage__title {
    font-weight: var(--font-weight-bold);
    font-size: 45px;
}

.SignUpPage__form {
    max-width: 400px;
    width: 100%;
}

.SignUpPage__back {
    color: var(--secondary-text-color);
}

